/* GLOBAIS */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ---PÁGINA - INDEX--- */
.cont-index {
    background-color: #bf9791c4;
    backdrop-filter: blur(4px);
    text-align: center;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.423);
}

h1 {
    font-size: 2rem;
    color: #192940;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #192940;
}

p button {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #774e62;
}
/* Botão "Vamos Lá!" */
.vamos-la-botao{
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
  }
  
  .vamos-la-botao button {
    width: 150px;
    height: 50px;
    background-color:#d0b0c0;
    margin: 20px;
    color: #774e62;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .vamos-la-botao button:before, .vamos-la-botao button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #774e62;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button:after {
    left: 0;
    bottom: 0;
  }
  
  .vamos-la-botao button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .vamos-la-botao button span:before, .vamos-la-botao button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #774e62;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button span:after {
    left: 0;
    bottom: 0;
  }
  
  .vamos-la-botao button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .vamos-la-botao button p:before, .vamos-la-botao button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .vamos-la-botao button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .vamos-la-botao button p:after {
    content: attr(data-text);
    top: 150%;
    color: #774e62;
  }
  
  .vamos-la-botao button:hover:before, .vamos-la-botao button:hover:after {
    width: 100%;
  }
  
  .vamos-la-botao button:hover span {
    z-index: 1;
  }
  
  .vamos-la-botao button:hover span:before, .vamos-la-botao button:hover span:after {
    height: 100%;
  }
  
  .vamos-la-botao button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .vamos-la-botao button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .vamos-la-botao button.start {
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .vamos-la-botao button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .vamos-la-botao button.start p:after {
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }

  
  .vamos-la-botao button.start:hover:before, .vamos-la-botao button.start:hover:after {
    display: none;
  }
  
  .vamos-la-botao button.start:hover span {
    display: none;
  }
  
  .vamos-la-botao button:active {
    outline: none;
    border: none;
  }
  
  .vamos-la-botao button:focus {
    outline: 0;
  }

/* ---PÁGINA - CATEGORIAS--- */
.cont-categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 600px;
}

/* Estilo dos links */
a {
  text-decoration: none;
  color: white;
}

/* Estilo dos blocos */
.cont-categorias div {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  transition: all 0.3s;
}

/* Estilização individual */
#s1, #s2, #m1, #d1, #d2 {
  background-color: #6973a0;
  border-radius: 25px;
}

/* Hover */
.cont-categorias div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #1e243d;
}

/* Active */
#s1:active,
#s2:active,
#m1:active,
#d1:active,
#d2:active{
  box-shadow: 0px 4px 0px #1e243d;
  position: relative;
  top: 2px;
}

/* ---PÁGINA - SOMA--- */
.cont-soma {
  background-color: rgba(111, 149, 180, 0.407);
  backdrop-filter: blur(4px);
  text-align: center;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.423);
}

.cont-soma h1,
.cont-soma p{
  color: #c9ccda;
}

/* Campo de resposta */
.cont-soma input{
  background-color: rgba(165, 196, 221, 0.659);
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}

.cont-soma input:focus{
  background-color: rgba(120, 150, 174, 0.775);
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}
.cont-soma input::placeholder{
  color: #192940;
}

/* Botao de enviar resultado */
.submit-soma {
  height: 35px;
  color: #b9c0e0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #33417f;
  --btn-bg-2: #212c5f;
  --btn-bg-color: #b9c0e0;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px rgba(19, 175, 223, 0.5),
    0px 5px 5px -1px rgba(73, 58, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(172, 196, 235, 0.595);
}

.submit-soma:hover{
  border-radius: 5px;
  color: #192940;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #a2aee2;
  --btn-bg-2: #717ba6;
  --btn-bg-color: #5e6688;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.4s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px rgba(44, 44, 130, 0.685),
    0px 5px 5px -1px rgba(52, 45, 130, 0.678),
    inset 4px 4px 8px rgba(17, 19, 136, 0.625),
    inset -4px -4px 8px rgba(39, 36, 122, 0.71);
}

/* ---PÁGINA - SUBTRAÇÃO--- */
.cont-sub{
  background-color: #5c7c8ca4;
  backdrop-filter: blur(4px);
  text-align: center;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.423);
}

.cont-sub h1,
.cont-sub p{
  color: #92d5e4;
}

/* Campo de resposta */
.cont-sub input{
  background-color: rgba(152, 197, 234, 0.859);
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}

.cont-sub input:focus{
  background-color: rgba(120, 161, 194, 0.859);
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}
.cont-sub input::placeholder{
  color: #192940;
}

/* Botao de enviar resultado */
.submit-sub {
  height: 35px;
  color: #d5d9eb;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #0c113d;
  --btn-bg-2: #0b1f29;
  --btn-bg-color: #4a5c82;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px rgba(6, 43, 55, 0.365),
    0px 5px 5px -1px #071c35,
    inset 4px 4px 8px #032d42,
    inset -4px -4px 8px #5c7c8c;
}

.submit-sub:hover{
  border-radius: 5px;
  color: #e5e8ec;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #393c5f;
  --btn-bg-2: #1e3a48;
  --btn-bg-color: #4a5c82;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.4s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px #52cfebc4,
    0px 5px 5px -1px rgba(88, 142, 173, 0.678),
    inset 4px 4px 8px rgba(7, 92, 128, 0.625),
    inset -4px -4px 8px rgba(139, 167, 220, 0.566);
}
/* ---PÁGINA - MULTIPLICAÇÃO--- */
.cont-multi{
  background-color: #614046a4;
  backdrop-filter: blur(4px);
  text-align: center;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.423);
}

.cont-multi h1,
.cont-multi p{
  color: #8c81bc;
}

/* Campo de resposta */
.cont-multi input{
  background-color: #63598c;
  color: #dce0f0;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}

.cont-multi input:focus{
  background-color: #504871;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}
.cont-multi input::placeholder{
  color: #dce0f0;
}

/* Botao de enviar resultado */
.submit-mult{
  height: 35px;
  color: #d5d9eb;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #3d0c0c;
  --btn-bg-2: #3d0c0c;
  --btn-bg-color: #612727;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px #8c81bc,
    0px 5px 5px -1px #614046a4,
    inset 4px 4px 8px #8c81bc7a,
    inset -4px -4px 8px #8c5c5c;
}

.submit-mult:hover{
  border-radius: 5px;
  color: #e5e8ec;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #612727;
  --btn-bg-2:#3d0c0c;
  --btn-bg-color: #3d0c0c;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.4s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px #8c5c5c,
    0px 5px 5px -1px #8c81bc7a,
    inset 4px 4px 8px #8c81bc,
    inset -4px -4px 8px #8c81bc;
}
/* ---PÁGINA - DIVISÃO--- */

/* ---PÁGINA - DESAFIO--- */