/* GLOBAIS */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#361d06;
}

/* ---PÁGINA - INDEX--- */
.cont-index {
    background-color:#76513c;
    backdrop-filter: blur(4px);
    text-align: center;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 15px #9e6431b4;
}

h1 {
    font-size: 2rem;
    color:#eee6dd;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #eee6dd;
}

p button {
  font-size: 1.2rem;
  line-height: 1.5;
  color:#eee6dd;
}
/* Botão "Vamos Lá!" */
.vamos-la-botao{
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
  }
  
  .vamos-la-botao button {
    width: 150px;
    height: 50px;
    background-color:#976548;
    margin: 20px;
    color: #eee6dd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .vamos-la-botao button:before, .vamos-la-botao button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #c97e3c;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button:after {
    left: 0;
    bottom: 0;
  }
  
  .vamos-la-botao button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .vamos-la-botao button span:before, .vamos-la-botao button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color:#c97e3c;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .vamos-la-botao button span:after {
    left: 0;
    bottom: 0;
  }
  
  .vamos-la-botao button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .vamos-la-botao button p:before, .vamos-la-botao button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .vamos-la-botao button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .vamos-la-botao button p:after {
    content: attr(data-text);
    top: 150%;
    color: #eee6dd;
  }
  
  .vamos-la-botao button:hover:before, .vamos-la-botao button:hover:after {
    width: 100%;
  }
  
  .vamos-la-botao button:hover span {
    z-index: 1;
  }
  
  .vamos-la-botao button:hover span:before, .vamos-la-botao button:hover span:after {
    height: 100%;
  }
  
  .vamos-la-botao button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .vamos-la-botao button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .vamos-la-botao button.start {
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .vamos-la-botao button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .vamos-la-botao button.start p:after {
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }

  
  .vamos-la-botao button.start:hover:before, .vamos-la-botao button.start:hover:after {
    display: none;
  }
  
  .vamos-la-botao button.start:hover span {
    display: none;
  }
  
  .vamos-la-botao button:active {
    outline: none;
    border: none;
  }
  
  .vamos-la-botao button:focus {
    outline: 0;
  }

/* ---PÁGINA - CATEGORIAS--- */
.cont-categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 600px;
}

/* Estilo dos links */
a {
  text-decoration: none;
  color: white;
}

/* Estilo dos blocos */
.cont-categorias div {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  transition: all 0.3s;
}

/* Estilização individual */
#s1, #s2, #m1, #d1, #d2 {
  background-color: #76513c;
  border-radius: 25px;
}

/* Hover */
.cont-categorias div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #c97e3c3b;;
}

/* Active */
#s1:active,
#s2:active,
#m1:active,
#d1:active,
#d2:active{
  box-shadow: 0px 4px 0px #c97e3c33;
  position: relative;
  top: 2px;
}

/* ---PÁGINA - SOMA--- */
.container-operacoes {
  background-color:#76513c;
  backdrop-filter: blur(4px);
  text-align: center;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.423);
}

.container-operacoes h1,
.container-operacoes p{
  color:  #eee6dd;
}

/* Campo de resposta */
.container-operacoes input{
  background-color:#975922d3;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}

.container-operacoes input:focus{
  background-color: #7a471bd3;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  height: 25px;
}

.container-operacoes input::placeholder{
  color: #eee6dd; 
}

/* Botao de enviar resultado */
.submit{
  height: 35px;
  color: #eee6dd;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #b36335;
  --btn-bg-2: #976548;
  --btn-bg-color: #7a471bd3;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px #c27e42d3,
    0px 5px 5px -1px #c27e42d3,
    inset 4px 4px 8px #c27e42d3,
    inset -4px -4px 8px #c27e42d3;
}

.submit:hover{
  border-radius: 5px;
  color: #eee6dd;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #976548;
  --btn-bg-2: #b36335;
  --btn-bg-color: #7a471bd3;
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.4s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  box-shadow:
    0px 0px 20px #f3994ae1,
    0px 5px 5px -1px #f3994ae1,
    inset 4px 4px 8px #f3994ae1,
    inset -4px -4px 8px #f3994ae1;
}